@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "@skeletonlabs/skeleton";
@import '@skeletonlabs/skeleton/themes/concord';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));


[data-theme='concord'] {
  --radius-xs: 0;
  --radius-sm: 0;
  --radius-md: 0;
  --radius-lg: 0;
  --radius-xl: 0;

  --radius-base: 0 !important;
  --radius-container: 0 !important;
}

@layer base {

  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

html,
body {
  height: 100%;
}
